.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #28282c;
  padding: 10px 20px;
  color: #39a9db;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 2; /* Ensuring it's above nav-items */
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.nav-items {
  display: flex;
  gap: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: right;
  right: 20px;
  top: 15px;
  z-index: 3;
}

.nav-items a {
  text-decoration: none;
  color: #39a9db;
  transition: color 0.3s ease;
}

.nav-items a:hover {
  color: #73d2de; /* Flashcard border color */
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Responsive styles */

@media (max-width: 1025px) {
  .nav-items {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .nav-items {
    position: absolute;
    right: 0px;
    top: -100px;
    flex-direction: column;
    background-color: #28282cd1;
    width: 95%;
    transform: translateY(0);
    transition: transform 0.3s ease-out;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .nav-items a {
    color: #fff;
  }

  .nav-items.open {
    transform: translateY(165%);
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 445px) {
  .nav-items {
    width: 91%;
  }
}